body * {
    font-family: "Times New Roman", Times, serif;
    /* background-color: #ffffff; */
    /* background-color: darkolivegreen; */
}
h1 {
    text-align: center;
}
#dropdown-div {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}
#total-div {
    width: 800px;
    margin: 0 auto;
}
/* #combined {
    background: #f3f3f3;
}
#total {
    background: #f3f3f3; 
}
#dropdown {
    background: #f3f3f3; 
} */
#legends {
    background-image: linear-gradient(to bottom right, red, yellow);;
}
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 526.31px; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 0 150px;
    cursor: pointer;
}

#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
#slider::-moz-range-thumb {
    width: 26px;
    height: 13px;
    background: #740000;
    border-radius: 20px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 13px;
    background: #740000;
    border-radius: 20px;
}
.stop-left {
    stop-color: #740000;
}

.stop-right {
    stop-color: #ffffff;
}

.filled {
    fill: url(#mainGradient);
}

text {
    font-size:15px;
}
#listeningRect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}
#histTooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: 0.75;
}
.paragraphSelection {
    margin: 10px 10px;
    & h3 {
        margin : 10px 10% ;
    }
    & h4 {
        margin: 10px 15% ;
    }
    & p {
        margin: 0 5%;
    }
}