@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body * {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
}
#dropdown-div {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}
#total-div {
    width: 800px;
    margin: 0 auto;
}
#legends {
    background-image: linear-gradient(to bottom right, red, yellow);;
}
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 526.31px; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 0 150px;
    cursor: pointer;
}

#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
#slider::-moz-range-thumb {
    width: 26px;
    height: 13px;
    background: #740000;
    border-radius: 20px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 13px;
    background: #740000;
    border-radius: 20px;
}
.stop-left {
    stop-color: #740000;
}

.stop-right {
    stop-color: #ffffff;
}

.filled {
    fill: url(#mainGradient);
}

text {
    font-size:15px;
}
#listeningRect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}
#histTooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: 0.75;
}
.highlight {
    color: #740000;
    font-weight: bold;
    font-size: 20px;
}
#title-cover {
    background-image: url('../static/cover_image.jpg');
    background-position: center;
    background-size:cover;
    height: 500px;
    position: relative;
}
#title-cover p {
    font-weight: 1000;
    font-size: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: #740000;
    background-color: rgb(238, 238, 238);
    color: #740000;
    padding: 0px 10px;
    margin: 20px;
}
.paragraphSelection {
    margin: 10px 10px;
    & h3 {
        font-size: 25px;
        margin : 10px 20% ;
        text-decoration: underline;
        font-weight: 700;
        color: #740000;
    }
    & p {
        margin: 20px 12%;
    }
}